.mtv-contact-form {
 .mtv-form-wrapper {
  padding: 20px;

  .mtv-form-row {
   width: 100%;
   margin: 10px auto;

   label {
    font-family: bold_font;
    margin-bottom: 5px;
   }

   input,
   select,
   textarea {
    width: 90%;
    margin: 0 auto;
    outline: none;
    background: transparent;
    padding: 10px;
    border: solid 2px $blue;
    transition: all 0.3s cubic-bezier(0.65, 0, 0.35, 1);

    &:hover,
    &:focus {
     border-color: $red;
    }
   }

   input[type="submit"] {
    font-family: bold_font;
    background: $blue;
    color: $yellow;
    cursor: pointer;

    &:hover {
     background: $yellow;
     color: $blue;
     border-color: $yellow;

    }
   }
  }
 }

}