$blue: #002642;
$red: #840032;
$black: black;
$yellow: #E59500;
$white: white;
$grey: #F2F4F5;
$bp-larger-than-mobile: "min-width: 400px" !default;
$bp-larger-than-phablet: "min-width: 550px" !default;
$bp-smaller-than-phablet: "max-width: 550px" !default;
$bp-smaller-than-tablet: "max-width: 749px" !default;
$bp-larger-than-tablet: "min-width: 750px" !default;
$bp-smaller-than-desktop: "max-width: 999px" !default;
$bp-larger-than-desktop: "min-width: 1000px" !default;
$bp-larger-than-desktophd: "min-width: 1200px" !default;
$bp-larger-than-desktophd-plus: "min-width: 1300px" !default;
.trans {
    -ms-transition: all .2s ease !important;
    -moz-transition: all .2s ease !important;
    -o-transition: all .2s ease !important;
    -webkit-transition: all .2s ease !important;
}

.abs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}